.lane {
    background-color: rgba(255,255,255,0.3);
    list-style: none;
    border-radius: 3px;
    overflow: hidden;
    grid-row: 1;
    width: 200px;
    border: 1px solid rgba(255,255,255,0.1);
}

.lane-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.drag-handle {
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.drag-handle:hover {
    color: rgba(255,255,255,0.5);
}

.lane-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

.tasks-list {
    width: 100%;
}

.add-task-button {
    background-color: rgba(255, 255, 255, 0.1);
    height: fit-content;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 10px;
    transition: all .1s ease-in-out;
}

.add-task-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}